.container_box {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.sidebar p {
    margin: 5px 0;
}

.sidebar button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}

.main_content {
    width: 75%;
    padding: 20px;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.inputBox {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-41 { 
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-41:hover {
    background-color: #0056b3;
}

.lds-facebook {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #007bff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.result {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    position: relative;
}

.result p {
    margin: 0;
    font-weight: bold;
    color: black;
}

.result button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.result button:hover {
    background-color: #0056b3;
}
