.container_box {
    display: flex;
    flex-direction: row;
    font-family: "poppins",Arial, sans-serif;
    
    
}


.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    height: auto;
   
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.sidebar p {
    position: relative;
    margin: 5px 0;
    
}

.sidebar button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.copy-btn{
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}


.main_content {
    width: 75%;
    padding: 20px;
    height: 92vh;
}

.heading {
    font-weight:700;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.inputBox {
    display: flex;
    display: inline;
    width: 70%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    font-family: "poppins"Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.mic_icon{
    height: 50px;
    width: 50px;
    background-color:rgb(236, 236, 236);
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 40px;
    cursor: pointer;
    
}




.button-41 { 
    margin-left: 10px;
    font-weight: 600;
    font-size: 13.5px;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: #1c9f66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-41.clear { 
    margin-left: 10px;
    font-weight: 600;
    font-size: 13.5px;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: #6a6a6a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-41.clear:hover{
    background-color: rgb(0, 0, 0);
}
.button-41:hover {
    background-color: #206711;
}

.clear_button{
    margin-left: 0px;
    font-weight: 600;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: #88888a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.clear_button:hover{
    background-color: rgb(0, 0, 0);
}
.edit_button{
    margin-left: 10px;
    font-weight: 600;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: #3f7db7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete_button{
    margin-left: 10px;
    font-weight: 600;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: #f43123;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit_button:hover{
    background-color: #295a8e;
}
.delete_button:hover{
    background-color: #92170f;
}
.bars {
    width: 38.4px;
    height: 34.2px;
    margin-left: 10px;
    --c: linear-gradient(#474bff  0 0);
    background: var(--c) 0%   50%,
         var(--c) 50%  50%,
         var(--c) 100% 50%;
    background-size: 10.1px 50%;
    background-repeat: no-repeat;
    animation: bars-wk19tf 1s infinite linear;
 }
 
 @keyframes bars-wk19tf {
    20% {
       background-position: 0% 0%  ,50% 50% ,100% 50%;
    }
 
    40% {
       background-position: 0% 100%,50% 0%  ,100% 50%;
    }
 
    60% {
       background-position: 0% 50% ,50% 100%,100% 0%;
    }
 
    80% {
       background-position: 0% 50% ,50% 50% ,100% 100%;
    }
 }



.result {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    position: relative;
}

.result p {
    font-family: "poppins",Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top:30px;
    font-weight: 600;
    color: black;
}

.result button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.result button:hover {
    background-color: #0056b3;
}


@media only screen and (max-width: 576px){
    .heading {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .container_box {
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
        height: 100vh;
    }
    .sidebar {
        width: auto;
        padding: 20px;
        background-color: #f4f4f4;
        border-right: 1px solid #ddd;
    }
    .main_content {
        width: auto;
        padding: 20px;
    }

    .inputBox{
        width: 80%;
    }

    .bars {
        margin-top: 10px;
        margin-left: 10px;
        width: 38.4px;
        height: 34.2px;
        --c: linear-gradient(#474bff  0 0);
        background: var(--c) 0%   50%,
             var(--c) 50%  50%,
             var(--c) 100% 50%;
        background-size: 10.1px 50%;
        background-repeat: no-repeat;
        animation: bars-wk19tf 1s infinite linear;
     }
    .result {
        margin: 20px -10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 100%;
        position: relative;
    }
    .result p {
        font-family: "poppins",Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 0.9rem;
        margin-top:30px;
        font-weight: 600;
        color: black;
    }
}